@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

 .avatar{
width: 200px;
border-radius: 28px;
box-shadow: 4px 4px 14px rgb(218, 162, 162);
 }
 a{
   color:black;
   text-decoration: none;  
   cursor:grab;
 }

 a:hover {
     text-decoration: underline;

 }
 a:active{
     color: blue;
 }
 /* a:visited{
     color:yellow
 } */

 .info p {
color:#86898f;
font-style: italic;
font-weight: bold;
text-decoration: none;
/* text-transform: uppercase; */
/* letter-spacing: 3px; */
/* word-spacing: 40px; */
 }
 .info{
     display: flex;
 }
 .name{
     margin-left: 30px;
 }
 .name h4{
     margin-bottom: 10px;
 }
 .container{
     max-width: 750px;
    margin: auto;
padding-top: 30px;
 }
 /* .social{
     background: rgb(46, 139, 62);
     padding: 15px;
     border: 5px solid red;
    margin:20px;
     border-bottom-style: double;
     border-top-width: 15px;
     border-right-color: blue;
    
 } */
 /* .box-model>div{
     background-color: black;
     height: 200px; 
     width: 25%;
     float:left;
     border: 4px solid red;
     box-sizing: border-box 
 } */



 .bg-yellow{
     background: #fff9dc;
 }
 .bg-green{
     background: #e5ffe7;
 }
 .bg-red{
     background: #ffe5e5;
 }
 .card{
     padding: 15px 20px;
     /* background-color: rgb(192, 127, 127); */
     margin-bottom: 20px;
     border-radius: 20px;
 }
 .info{
     margin-bottom: 20px;
 }

 @media  screen and (max-width:700px){
     .info{
         display: block;
         text-align: center;
     }
 }
 .card h2{
     margin-bottom: 10px;
 }
 .list{
     padding: 0 20px;
     /* list-style: none; */
 }
 .list li{
     color: #86898f;
     margin-bottom: 10px;
     /* border-bottom: 1px solid grey; */
 }

 .table{
     width: 100%;
 }
 .table td{
     padding-bottom: 10px;

 }
 .table  td:nth-child(2),
 .table  td:nth-child(3){
     color: grey
 }
 /* .table tr:nth-child(odd){
     background: red;
 } */

 .link-list{
     list-style:circle;
     padding: 0;
 }
 .link-list li{
     margin-bottom: 10px;
     padding-bottom: 5px;
     border-bottom: 1px solid #ccc;
 }
 .contact h2{
     text-align: center;
 }

 .form-group label{
     display: block;
     font-size: 14px;
     color: #24262b;
 }
 .form-group input,
 .form-group textarea{
    width: 100%; 
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color:black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
 }
 .row{
     display: flex;
     margin-bottom: 20px;
 }
 .row>.form-group{
     width: 50%;
     margin-right: 20px;
 }
 .row>.form-group:last-child{
     margin-right: 0;
 }
 .btn{
     background: #111;
     padding: 15px 20px;
     color:white;
     font-family: inherit;
     cursor: pointer;
 }
 .btn:hover{
     opacity: 0.8;
    }

    /* position */

    /* .position{
        position: relative;
border: 4px solid black;
margin-top: 40px;
padding: 20px;
height: 400px;
    }
    .box{
     position: fixed;  
      top: 0;
      left: 0;

      width: 100%;
      height: 50px;
      background: violet;  
      
    } */
